@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --second-color: #7c1a7c;
    --dark-grey: #1f1f1f;
}
/* Macro Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--dark-grey);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex-container {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
}
/* Header Styling */
header,
.players {
    gap: 6px;
    font-size: 2rem;
    background-color: var(--second-color);
    color: white;
    height: 100px;
    font-weight: 700;
}
.small-header {
    font-size: 18px;
}
/* Game board styling */
#info-container {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 60px 100px;
}
.menu-button {
    height: 40px;
    width: 90px;
    background-color: var(--second-color);
    border: none;
    border-radius: 7px;
    font-size: 20px;
    color: #1f1f1f;
    margin-top: 4px;
}
#next-round-container,
#start-button-container {
    grid-column: 1/3;
    margin-top: 4px;
}
#next-round-button,
#start-button {
    width: 135px;
}
.center-board {
    height:calc(100vh - 200px);
}
.hide {
    display: none;
}
.board {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    outline:4px var(--dark-grey) solid;
    outline-offset: -4px;
}
.play-button {
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: 3px solid white;
    background-color: var(--dark-grey);
    color: white;
    font-size: 12rem;
    padding-bottom: 15px;
}
button:hover {
    cursor: pointer;
}
